<p>reactive-form works!</p>
<form [formGroup]="myForm" autocomplete="off" novalidate> 
    
    <div class="form-field">
        <label>Title:</label>
        <input formControlName="title">        
        <div class="field-error-message" 
            *ngIf="myForm.controls.description.dirty && myForm.controls.title.errors?.required">Requierd</div>
        <div class="field-error-message" 
            *ngIf="myForm.controls.description.dirty && myForm.controls.title.errors?.minlength">Min Length of 5</div>        
    </div>

    <div class="form-field">
        <label>Duration:</label>
        <input  formControlName="duration"> 
        <div class="field-error-message"></div>
    </div>

    <div class="form-field">
        <label>Description:</label>
        <textarea formControlName="description"></textarea>
        <div class="field-error-message" 
            *ngIf="myForm.controls.description.dirty && myForm.controls.description.errors?.required">Requierd</div>

        <!-- Custom Validator -->
        <div class="field-error-message" 
            *ngIf="myForm.controls.description.dirty && myForm.controls.description.errors?.validateIncludeMeir">Must Include Meir</div>        
 
    </div>


    <div class="form-field">
        <label>Not Part of the Form Group:</label>
        <input [formControl]="notPartOfTheFormGroup">
        <div class="field-error-message">Requierd</div>

       
    </div>

    <!-- Not part of the Form Group-->
    <div class="form-field">
        <button class="lesson-button" type="submit"
            [disabled]="!myForm.valid"
        >Create Lesson</button>
    </div>    
</form>

<button (click)="onPartialUpdate()">Partial Update</button>
<button (click)="onFullUpdate()">Full Update</button>
<button (click)="onReset()">Reset</button>