<fieldset style="display:inline-block">
    <legend>Template Dreiven Form</legend>


    <form  #f="ngForm" autocomplete="off" novalidate> 
        
        <div class="form-field">
            <label>Title:</label>
            <input name="title" #name="ngModel" [(ngModel)]="lesson.title" required minlength="5">        
            <div class="field-error-message"
                *ngIf="name.errors?.required">Requierd</div>
            <div class="field-error-message"
                *ngIf="name.errors?.minlength">Min Length of 5</div>        
        </div>

        <div class="form-field">
            <label>Duration:</label>
            <input name="duration" #duration="ngModel"  [(ngModel)]="lesson.duration" required> 
            <div class="field-error-message"
                *ngIf="duration.errors?.required">Requierd</div>
        </div>

        <div class="form-field">
            <label>Description:</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="lesson.description" required appIncludeMeir></textarea>
            <div class="field-error-message"
                *ngIf="description.errors?.required">Requierd</div>

            <!-- Custom Validator -->
            <div class="field-error-message"
                *ngIf="description.errors?.includeMeir">Must Include Meir</div>        
    
        </div>
        
        <!-- Not part of the model but part of the form-->
        <div class="form-field">
            <label>Not Part of the Form Group:</label>
            <input name="notPart" #notPart="ngModel" ngModel required>
            <div class="field-error-message"
                *ngIf="notPart.errors?.required">Requierd</div>

        
        </div>


        <div class="form-field">
            <button class="lesson-button" type="submit"
                [disabled]="!f.valid"
            >Create Lesson</button>
        </div>    

        <button (click)="onPrintData()">Print Data </button>
    </form>

</fieldset>